<div *ngIf="plog != null && plog?.length > 0">
    <table class="table table-striped">
        <thead>
            <th>Date de modif</th>
            <th>ID de l'utilisateur ayant modifié le produit</th>
            <th>Ancien produit</th>
            <th>Nouveau produit</th>
        </thead>
        <tbody *ngFor="let p of plog">
            <tr>
                <td>{{p?.logDate | date:'dd/MM/yyyy, HH:mm:ss'}}</td>
                <td>{{p?.userId}}</td>
                <td>{{p?.oldProduct}}</td>
                <td>{{p?.newProduct}}</td>
            </tr>
        </tbody>
    </table>
</div>

<div *ngIf="plog === null || plog?.length == 0">
    <p>Pas de modification enregistrée pour ce produit</p>
</div>