<div *ngIf="plog != null && plog?.length > 0">

    <h2 *ngIf="entry == 'product'">Historique des modifications pour le produit {{prod?.name}}</h2>
    <h2 *ngIf="entry == 'user'">Historique des modifications de l'utilisateur {{user?.username}}</h2>

    <table class="table table-striped">
        <thead>
            <th>Date de modif</th>
            <th>ID de l'utilisateur ayant modifié le produit</th>
            <th>Ancien produit</th>
            <th>Nouveau produit</th>
        </thead>
        <tbody *ngFor="let p of plog">
            <tr>
                <td>{{p?.logDate | date:'dd/MM/yyyy, HH:mm:ss'}}</td>
                <td>{{p?.userId}}</td>
                <td>{{p?.oldProduct}}</td>
                <td>{{p?.newProduct}}</td>
            </tr>
        </tbody>
    </table>
</div>

<div *ngIf="plog === null || plog?.length == 0">
    <h2 *ngIf="entry == 'product'">Pas de modification enregistrée pour le produit {{prod?.name}}</h2>
    <h2 *ngIf="entry == 'user'">{{user?.username}} n'a fait aucune modification de produit</h2>
</div>