.alignement {
    text-align: center;
    color: white;
}

.mep {
    border: 2px solid rgb(0, 0, 0);
    background-color: white;
    text-align: center;
    padding: 15px;
    margin: 15px;
}

.test {
    background-image:url(https://i.pinimg.com/originals/e3/eb/31/e3eb311af2c90bd23b9b44d4c8353aa9.gif);
    background-size: cover;
    background-repeat: no-repeat;
}

.toutenbas {
    bottom:0;
}