<div class="test">
    <div class="alignement">
        <h2>⌨ Panneau d'administration ⌨</h2>
        <p>Connecté en tant que {{user?.username}}</p>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-sm mep">
                <a routerLink="/accounts">Modifier les accès d'un utilisateur</a>
            </div>
            <div class="col-sm mep">
                <a routerLink="/suppliers">Accès à la liste des fournisseurs</a>
            </div>
            <div class="col-sm mep">
                <a routerLink="/suppliers/add">Ajouter un fournisseur</a>
            </div>
            <div class="col-sm mep">
                <a routerLink="/products/add">Ajouter un produit</a>
            </div>
        </div>
    </div>

    <div class="toutenbas">
        <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    </div>
</div>
