
<h2>CONDITIONS GÉNÉRALES DE VENTE</h2>
<ol>
    <li>
        Les présentes Conditions Générales de Vente déterminent les droits et obligations des parties dans le cadre de la vente en ligne de produits ou services proposés par Yadlabouff et son équipe.
    </li>
    <li>
        Les présentes Conditions Générales de Vente (CGV) régissent les ventes de Produits ou de Services, effectuées au travers des sites Internet de Yadlabouff, et sont partie intégrante du contrat entre l’acheteur et le vendeur. 
        Elles sont pleinement opposables à l’acheteur qui les a acceptés avant de passer commande. 
        Le vendeur se réserve la possibilité de modifier les présentes, à tout moment par la publication d’une nouvelle version sur son site Internet. 
        Les CGV applicables alors sont celles étant en vigueur à la date du paiement (ou du premier paiement en cas de paiements multiples) de la commande. 
        Ces CGV sont consultables sur le site Internet de la société à l’adresse suivante : http://www.yadlabouff.be/terms. 
        La société s’assure également que leur acceptation soit obscure et que leur lecture soit parfaitement inutile. 
        Le client déclare avoir pris connaissance de l’ensemble des présentes Conditions Générales de Vente, et le cas échéant des Conditions Particulières de Vente liées à un produit ou à un service, et les accepter sans restriction ni réserve. 
        Le client reconnaît qu’il a bénéficié des conseils et informations nécessaires afin de s’assurer de l’adéquation de l’offre à ses besoins. 
        Le client déclare être en mesure de contracter légalement en vertu des lois belges ou valablement représenter la personne physique ou morale pour laquelle il s’engage. 
        Sauf preuve contraire les informations enregistrées par Yadlabouff constituent la preuve de l’ensemble des transactions.
    </li>
    <li>
        Le délai de rétractation légal pour qu'une vente vous soit intégralement remboursée est de 5 secondes après validation du paiement. 
        Passé ce délai, 5% de du montant total de votre achat est déduit par seconde sur le remboursement auquel vous avez droit. 
        Lorsque ce montant atteint 0€, le compteur continue à tourner en notre faveur et vous nous devrez de l'argent en cas de demande de remboursement. 
        Prenez votre temps, nous ne sommes pas pressés...
    </li>
    <li>
        En cas de litige avec toute opération fournie par notre site, seuls les tribunaux de Port-Réal sont compétents pour recevoir une plainte. 
        Un duel avec l'arme blanche de votre choix est la seule façon possible de régler le litige. 
        Si cela tourne mal pour vous, vous pouvez toujours déposer une seconde plainte.
    </li>
    <li>
        Se référer à la condition générale n°12.
    </li>
    <li>
        Nous ne pouvons garantir la provenance, la fraîcheur, le goût ou l'odeur des produits vendus par notre site. 
        En cas de problème, se référer à la condition générale n°4.
    </li>
    <li>
        Le code de ce site peut contenir du gluten, du lactose et des traces de fruits à coque.
    </li>
    <li>
        Conformément à l’article L0-L, le vendeur livre un bien peu conforme au contrat et ignorera vos appels insistants de réponse aux défauts de conformité existants lors de la délivrance. 
        Il prendra également soin de ne pas s'appliquer à la sécurité et à la propreté de l’emballage.
    </li>
    <li>
        Texte inutile pour faire croire qu'il y a un tas de conditions générales alors que j'ai la flemme d'en écrire plus. Sinon vous, ça va?
    </li>
    <li>
        Aucun développeur n'a été maltraité durant la création de ce site. 
        Ils nous l'ont assuré lorsque nous leur avons rendu visite à leur domicile avec notre équipe de colosses pas très sympas. 
        Ce fait ne sera donc pas répercuté par effet miroir sur le client, qu'on aime énormément (son argent encore plus).
    </li>
    <li>
        Iyhcv, ab hz wlykb kb altwz h kljopmmyly jl tlzzhnl wvby yplu. Ab wlbe jvuapubly alz hjapcpalz vykpuhpylz.
    </li>
    <li>
        Se référer à la condition générale n°5.
    </li>
    <li>
        Si ce texte est trop long, voici pour vous nos <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" onclick="window.open(this.href); return false;">conditions générales en vidéo</a>
    </li>
    <li>
        Ph'nglui mglw'nafh Cthulhu R'lyeh wgah'nagl fhtagn
    </li>
    <li>
        Yadlabouff se réserve la possibilité de changer à tout moment à la hausse les prix des produits achetés par le consommateur, en particulier pour les produits ayant un certain succès. 
        Pour un changement à la baisse, ne rêvez pas, nous ne faisons pas la charité...
    </li>
    <li value="404">
        Condition générale non trouvée
    </li>
    <li value="666">
        <a href="https://youtu.be/WxnN05vOuSM?t=25" onclick="window.open(this.href); return false;">666</a>
    </li>
</ol>
