<div class="accueil">
    <h3>Bienvenue sur</h3>
    <!-- <img src="https://i.ibb.co/mXDt9bk/Yadlabouff.png" alt="Yadlabouff"> -->
    <img src="https://i.ibb.co/G5tH6P4/Vanilla-1s-289px-1.gif" alt="Yadlabouff">
    <h3>Notre site de vente alimentaire en ligne !</h3>
    <br>
    <iframe width="400" height="225" src="https://www.youtube.com/embed/4IcIIDj4YZA?controls=0?rel=0&autoplay=1&mute=1&loop=1&playlist=4IcIIDj4YZA" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <br>
    <p>Venez découvrir notre <a routerLink="/products">gamme de produits</a></p>
</div>

<router-outlet></router-outlet>

<footer class="bg-info">
    Yadlabouff est un projet de labo créé avec amour, soin et explosion de clavier par Clotilde C., Stephan C. et Benjamin <del>C.</del> V.
</footer>