.accueil{
    text-align: center;
    margin-top: 30px;
}

.taillegif {
    width: 25%;
    height: 50%;
}

.modifscarousel {
    background-color: rgb(199, 227, 236);
    max-width: 50%;
    max-height: 50%;
    margin-bottom: 20px;
    margin-left: 25%;
}

.imgcarousel {
    margin-left: 12%;
}

.textecarousel {
    margin-left: 12%;
    align-self: center;
}