<div class="card bg-light mb-3" style="width: 40rem;">
    <div class="card-header">
        Modifier mes informations personnelles
    </div>
    <div class="card-body">
        <form [formGroup]="fg" (ngSubmit)="onSubmit()"> 
            <div class="form-group">

                <label>Prénom</label>
                <input class="form-control" type="text" formControlName="firstName" [(ngModel)]="user.firstName">
                <label>Nom</label>
                <input class="form-control" type="text" formControlName="lastName" [(ngModel)]="user.lastName">
                <label hidden>Niveau d'accès</label>
                <select hidden class="form-control" formControlName="accessLevel" [(ngModel)]="accessLevelId">
                    <option *ngFor="let a of accessLevel" [value]="user.accessLevel">{{accessLevelLabelMapping[a]}}</option>
                </select>
                <label>Pseudo</label>
                <input class="form-control" type="text" formControlName="username" [(ngModel)]="user.username">
                
            </div>
            <label>Mot de passe</label>
            <div formGroupName="password" class="sousForm" >
                <div>
                    <label>Nouveau mot de passe</label>
                <input ([ngClass])="identical" type="password" formControlName="password">
                </div>
                <div>
                    <label>Confirmer le nouveau mot de passe</label>
                <input type="password" formControlName="confirmPassword" [ngClass]="{'is-invalid': fg.get('password').errors ||
                ((fg.get('password').touched || 
                fg.get('password').dirty) && 
                !fg.get('password').valid) }">
                <span class="invalid-feedback">
                    <span *ngIf="fg.get('password.confirmPassword').errors?.required">
                      Please confirm your password.
                    </span>
                    <span *ngIf="fg.get('password').errors?.match">
                      The confirmation does not match the password.
                    </span>
                  </span>
                </div>

            </div>
            <label>Adresse</label>
            <div formGroupName="address" class="sousForm">
                <div >
                    <label>Rue</label>
                    <input type="text" formControlName="street" name="street" [(ngModel)]="user.address.street">
                </div>
                <div>
                     <label>Numéro</label>
                     <input type="number" formControlName="number" name="number" [(ngModel)]="user.address.number">
                </div>
                <div >
                    <label>Ville</label>
                    <input type="text" formControlName="city" name="city" [(ngModel)]="user.address.city">
                </div>
                <div >
                    <label>Code postal</label>
                    <input type="text" formControlName="zipcode" name="zipcode" [(ngModel)]="user.address.zipCode">
                </div>
                <div>
                    <label>Pays</label>
                    <input type="text" formControlName="country" name="country" [(ngModel)]="user.address.country">
                </div>

            </div>
           
            <button class="btn btn-light" >Enregistrer</button>
        </form>

    </div>
