<h4>Liste des produits</h4>


<div class="container">
    <button class="btn btn-warning" type="button" routerLink="/products/add">Ajouter un produit</button>
    <div class="innerContainer">
        <div>
            <table class="table table-striped">
                <thead>
                    <th>Nom</th>
                    <th>Catégorie</th>
                    <th>Prix</th>
                    <th></th>
                    <th></th>
                </thead>
                <tbody *ngFor="let p of products$ | async">
                    <tr *ngIf="!p.inactive">
                        <td>{{p.name}}</td>
                        <td><ul>
                            <li *ngFor="let c of p.categories">{{c.name}}</li>
                        </ul></td>
                        <td>{{p.price}}</td>
                        <td>
                        <button class="btn btn-primary" type="button" [routerLink]="['detail', p.id]">Détails</button>
                        </td>
                        <td>
                            <button class="btn btn-danger" type="button" (click)="onClick(p.id)">Supprimer</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        
        </div>
        
        <div class="detail">
            <router-outlet></router-outlet>
        </div>
    


    </div>
</div>
