<div class="container">
    <h4>Liste des produits</h4>
    <div *ngIf="user != null && user.accessLevel.toString() == 'ADMINISTRATOR'">
        <button class="btn btn-info boutonPropre" type="button" routerLink="/products/add">Ajouter un produit</button>
    </div>
    <div class="innerContainer">
        <div>
            <table class="table table-striped">
                <thead>
                    <th>
                        Nom
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-down-circle" viewBox="0 0 16 16" *ngIf="!(productService.sortingField=='name' && productService.sortingDirection=='asc')" (click)="sorted('name','asc')">
                            <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v5.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V4.5z"/>
                        </svg>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-down-circle-fill" viewBox="0 0 16 16" *ngIf="productService.sortingField=='name' && productService.sortingDirection=='asc'" (click)="sorted('','')">
                            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v5.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V4.5z"/>
                        </svg>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-up-circle" viewBox="0 0 16 16" *ngIf="!(productService.sortingField=='name' && productService.sortingDirection=='desc')" (click)="sorted('name','desc')">
                            <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-7.5 3.5a.5.5 0 0 1-1 0V5.707L5.354 7.854a.5.5 0 1 1-.708-.708l3-3a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707V11.5z"/>
                        </svg>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-up-circle-fill" viewBox="0 0 16 16" *ngIf="productService.sortingField=='name' && productService.sortingDirection=='desc'" (click)="sorted('','')">
                            <path d="M16 8A8 8 0 1 0 0 8a8 8 0 0 0 16 0zm-7.5 3.5a.5.5 0 0 1-1 0V5.707L5.354 7.854a.5.5 0 1 1-.708-.708l3-3a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707V11.5z"/>
                        </svg>
                    </th>
                    <th>Catégorie</th>
                    <th>
                        Prix
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-down-circle" viewBox="0 0 16 16" *ngIf="!(productService.sortingField=='price' && productService.sortingDirection=='asc')" (click)="sorted('price','asc')">
                            <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v5.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V4.5z"/>
                        </svg>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-down-circle-fill" viewBox="0 0 16 16" *ngIf="productService.sortingField=='price' && productService.sortingDirection=='asc'" (click)="sorted('','')">
                            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v5.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V4.5z"/>
                        </svg>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-up-circle" viewBox="0 0 16 16" *ngIf="!(productService.sortingField=='price' && productService.sortingDirection=='desc')" (click)="sorted('price','desc')">
                            <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-7.5 3.5a.5.5 0 0 1-1 0V5.707L5.354 7.854a.5.5 0 1 1-.708-.708l3-3a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707V11.5z"/>
                        </svg>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-up-circle-fill" viewBox="0 0 16 16" *ngIf="productService.sortingField=='price' && productService.sortingDirection=='desc'" (click)="sorted('','')">
                            <path d="M16 8A8 8 0 1 0 0 8a8 8 0 0 0 16 0zm-7.5 3.5a.5.5 0 0 1-1 0V5.707L5.354 7.854a.5.5 0 1 1-.708-.708l3-3a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707V11.5z"/>
                        </svg>
                    </th>
                    <th></th>
                    <div *ngIf="user != null && user.accessLevel.toString() == 'ADMINISTRATOR'">
                        <th></th>
                        <th></th>
                    </div>
                </thead>
                <tbody *ngFor="let p of productPage.content">
                    <tr *ngIf="!p.inactive">
                        <td>{{p?.name}}</td>
                        <td><ul>
                            <li *ngFor="let c of p?.categories">{{c?.name}}</li>
                        </ul></td>
                        <td>{{p?.price}}</td>
                        <td>
                        <!-- <button class="btn btn-primary" type="button" (click)="details(p.id)">Détails</button> -->
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" (click)="details(p.id)">
                            Détails
                        </button>
                        </td>
                        <div *ngIf="user != null && user.accessLevel.toString() == 'ADMINISTRATOR'">
                            <td>
                                <button class="btn btn-warning" type="button" routerLink="/products/update/{{p?.id}}">Modifier</button>
                            </td>
                            <td>
                                <button class="btn btn-danger" type="button" (click)="onDelete(p?.id)">Supprimer</button>
                            </td>
                            <td>
                                <button class="btn btn-outline-light" type="button" (click)="historic(p?.id)">Historique</button>
                            </td>
                        </div>
                    </tr>
                </tbody>
                
                
            </table>
            <nav aria-label="Page navigation" class="col-3 offset-1">
                <ul class="pagination">
                  <li class="page-item" [ngClass]="{disabled: productPage.first}"><a class="page-link" (click)="navigateTo(productPage.pageable.pageNumber-1)" >Previous</a></li>
                  <li class="page-item" *ngFor="let page of numberPage; index as i" [ngClass]="{active: page==productPage.number+1}"><a class="page-link" (click)="navigateTo(i)">{{page}}</a></li>
                  <li class="page-item" [ngClass]="{disabled: productPage.last}"><a class="page-link" (click)="navigateTo(productPage.pageable.pageNumber+1)">Next</a></li>
                </ul>
            </nav>
            <button class="btn btn-secondary" *ngIf="isShow" (click)="gotoTop()">Revenir au début</button>
        </div>
        
        <div class="detail">
            <router-outlet></router-outlet>
        </div>
    


    </div>
</div>
