<div class="login">
    <div *ngIf="!isConnected">
    <form class="form-group" [formGroup]="fg" (ngSubmit)="onSubmit()">
        <span>
            <input type="text" class="form-control" placeholder="pseudo" formControlName="pseudo"> &nbsp;
        </span>
        &nbsp;&nbsp;
        <span>
            <input type="password" class="form-control" placeholder="mot de passe" formControlName="password"> &nbsp;
        </span>
        <button class="btn btn-info" size="tiny" status="info" [disabled]="fg.invalid">Connexion</button>&nbsp;    
        <button class="btn btn-info" size="tiny" status="info" (click)="register()">Enregistrement</button>  
    </form>         
</div>

<div *ngIf="isConnected">
    <button nbButton size="tiny" status="warning" (click)="logout()">Déconnexion</button>    
</div>
</div>
