<div *ngIf="supplier">
    <div class="display-4">
        Page du fournisseur {{supplier.companyName}}
    </div>
    <hr class="my-4">
    <p class="lead">Secteur d'activité : {{supplier.sector}}</p>
    <p class="lead">Raison sociale : {{supplier.statut}}</p>
    <p class="lead">Date de création de la fiche : {{supplier.insertionDate | date:'dd/MM/yyyy, HH:mm:ss'}}</p>
    <p class="lead">Date de mise à jour de la fiche : {{supplier.updateDate | date:'dd/MM/yyyy, HH:mm:ss'}} </p> 
    <p class="lead">Produits proposés :</p>
    <div class="article" style="width: 18rem;" *ngFor="let p of supplier.products">
        <div class="imageArticle">
            <img src={{p.imagePath}} alt="image du produit">
        </div>
        <!-- Si le produit est toujours en DB -->
        <div *ngIf="!p.inactive">
            <span title="Voir le détail de l'article"><a [routerLink]="['productdetail', p.id]">{{p.name}}</a></span><br>
            <button>Commander ce produit</button>
        </div>
        <!-- Si le produit n'est plus en DB -->
        <div *ngIf="p.inactive">
            <div>{{p.name}}</div>
            <div>Ce produit n'est plus en vente</div>
        </div>
    </div>   
</div>
<router-outlet></router-outlet>