<nav class="navbar navbar-expand-lg navbar-light bg-info text-white">
    <a class="navbar-brand" routerLink="/home"><img src="https://i.ibb.co/7G6xDTq/Vanilla-1s-148px.png" alt="Yadlabouff"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <a class="nav-link" routerLink="/products" (click)="productRefresh()">Nos produits<span class="sr-only">(current)</span></a>
        <a class="nav-link" routerLink="/suppliers">Les fournisseurs<span class="sr-only">(current)</span></a>
        <form class="form-inline ml-3 my-2 my-lg-0" [formGroup]="searchForm">
            <input class="form-control mr-sm-2" type="search" placeholder="Recherche par produit" aria-label="Recherche" formControlName="search">
            <button class="btn btn-primary my-2 mr-2 my-sm-0" type="submit" (click)="search()">Je veux ça !</button>
            <button type="button" class="btn btn-success" routerLink="/products/search">Recherche avancée</button>
        </form>
        <app-login></app-login>
        <button class="btn btn-info" routerLink="/user" *ngIf="isConnected">Mon compte</button>
        <button class="basketbutton btn btn-success" routerLink="/basket">Panier</button>
    </div>
</nav>