#advsearch{
    margin-right: 10px;
}

nav {
    height: auto;
}

.imgHeader{
    width: 30%;
    height: 30%;
}

button {
    height: auto;
}

.basketbutton {
    margin-left : 15px;
}

input {
    height: 38px;
}

a:link, a:hover, a:visited, a:active {
    color: rgb(7, 0, 99);
}