

<div class="card bg-dark text-white mb-3" style="width: 21rem;" *ngIf="product">
    <img class="card-img-top imageArticle" src={{product.imagePath}} alt="image du produit">
    <div class="card-header">
        {{product.name}}
    </div>
    <div class="card-body">
    <p class="card-text">Description : {{product.description}}</p>
    <p class="card-text">Date d'insertion : {{product.insertDate | date:'dd/MM/yyyy, HH:mm:ss'}}</p>
    <p class="card-text">Date de mise à jour : {{product.updateDate | date:'dd/MM/yyyy, HH:mm:ss'}}</p>
    <p class="card-text">Date de péremption : {{product.expirationDate | date:'dd/MM/yyyy, HH:mm:ss'}} </p>
    <p class="card-text">Prix : {{product.price}} </p>
    <p class="card-text">Quantité en stock : {{product.quantity}} </p>
    <p class="card-text">Fournisseur : <span title="Page du fournisseur"><a routerLink="/suppliers/detail/{{product.supplier.id}}">{{product.supplier.companyName}}</a></span> </p>
    <p class="card-text">Catégorie(s)</p>
        <ul>
            <li *ngFor="let c of product.categories">{{c.name}}</li>
        </ul>
    </div>
    <button (click)="buy(product)">Ajouter au panier</button>

    
    
</div>


